# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages data scientists uses
- Popular open source development environment tools
- Popular libraries data scientists uses
- how to create ordered and unordered lists
- how to write down arithmetic expressions

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Java

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. ggplot
4. caret
5. Metplotlib
6. TensorFlow

| Data Science Tools|
|-------------------|
| Jupyter Notebooks|
| RStudio |
| Watson Studio |

In [1]:
### Below are a few examples of evaluating arithmetic expressions in Python
3+4

7

# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

In [2]:
(3*4)+5

17

# This will convert 200 minutes to hours by using timedelta function
from datetime import timedelta
str(timedelta(minutes=200))[:-3]

In [15]:

from datetime import timedelta
str(timedelta(minutes=200))[:-3]

'3:20'

## Author
Rahul Nain